<!-- FOOTER -->
<footer id="footer" class="fh5co-bg-color" style="background-color: rgba(0, 0, 0, 0.788);">
    <div class="container">
        <div class="row" style="display: block;">
            <div class="col-md-2 copyright-icon-div" style="padding-left: 0px;">
                <div class="copyright">
                    <img src="/images/logo/logo-1.png" alt="logo" style="width: 100px; height: 100px;"
                        class="centerBlock">
                    <br>
                    <p style="text-align:center;"><small> Himalaya Boutique Hotel <br>
                            <small> All Rights Reserved </p>
                </div>
            </div>
            <div class="col-md-10" style="padding-left: -1px;">
                <div class="col-md-3 copyright-more-div" style="padding-left: 20px;">
                    <h3 class="footer-facilities-1 font-trilong" style="margin-bottom: 10px; color: #F2AA4CFF;">VISIT
                        LINKS</h3>
                    <ul class="link">
                        <div class="footer-facilities-1 font-trilong">
                            <li><a href="about">About</a></li>
                            <li><a href="gallery">Gallery</a></li>
                            <li><a href="accomodation">Accomodation</a></li>
                            <li><a href="services">Services</a></li>
                            									<!-- <li><a href="blog">Blog</a></li> -->
                            <li><a href="contact">Contact Us</a></li>
                        </div>
                    </ul>
                </div>
                <div class="col-md-6 xa-2">
                    <h3 style="margin-bottom: 10px; color: #F2AA4CFF;" class="footer-facilities-heading font-trilong">
                        OUR FACILITIES</h3>
                    <div class="col-md-6" style="padding-left: 0px;">
                        <div class="footer-facilities-2 font-trilong" style="padding-left: 0rem;">
                            <p class="font-trilong" style="font-size: small; color: white;">
                                Free Internet <br>
                                Free Parking<br>
                                On-Site Restaurant<br>
                                Room Service<br>
                                Ditigal Key
                            </p>
                        </div>
                    </div>
                    <div class="footer-facilities-1">
                        <p class="font-trilong copyright-service2-class" style="font-size: small; color: white;">
                            Business Services<br>
                            Resort Property<br>
                            Laundry<br>
                            Conierge<br>
                        </p>
                    </div>
                </div>
                <div>
                    <ul class="social-icons">
                        <li class="footer-socialMedia">
                            <a href="https://www.twitter.com" target="_blank"><i class="icon-twitter-with-circle"
                                    style="margin-right: 5px;"></i></a>
                            <a href="https://www.facebook.com" target="_blank"><i class="icon-facebook-with-circle"
                                    style="margin-right: 5px;"></i></a>
                            <a href="https://www.instagram.com" target="_blank"><i class="icon-instagram-with-circle"
                                    style="margin-right: 5px;"></i></a>
                            <a href="https://www.linkedin.com" target="_blank"><i class="icon-linkedin-with-circle"
                                    style="margin-right: 5px;"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</footer>