<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Himalaya Boutique Hotel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<!-- W3 -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<!--Bootstrap CSS-->
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>

	<!--Bootstrap JS-->
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>

	<!--jQuery-->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

	<!--Touch Swipe-->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js'></script>

	<!--Prefixfree-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,900,700,900italic' rel='stylesheet' type='text/css'> -->

	<!-- Stylesheets -->
	<!-- Dropdown Menu -->
	<link rel="stylesheet" href="css/superfish.css">
	<!-- Owl Slider -->
	<!-- <link rel="stylesheet" href="css/owl.carousel.css"> -->
	<!-- <link rel="stylesheet" href="css/owl.theme.default.min.css"> -->
	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="css/cs-select.css">
	<link rel="stylesheet" href="css/cs-skin-border.css">

	<!-- Themify Icons -->
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- Flat Icon -->
	<link rel="stylesheet" href="css/flaticon.css">
	<!-- Icomoon -->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Style -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body class="homeBody">
	<div id="fh5co-wrapper">
		<div id="fh5co-page">
			<div id="fh5co-header">
				<header id="fh5co-header-section">
					<div class="container">
						<div class="nav-header">
							<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

							<h1 id="fh5co-logo">
								<div class="containerLogo">
									<div class="image">
										<img src="/images/logo/logo-1.png" alt="logo"
											style="width: 50px; height: 50px; margin-right: 1rem;" class="centerBlock"
											loading="lazy" fetchpriority="high">
									</div>
									<a href="home" class="header-mobile"
									style="font-family: Cormorant Garamond;">HIMALAYA BOUTIQUE HOTEL</a>
							</h1>

							<nav id="fh5co-menu-wrap" role="navigation">
								<ul class="sf-menu" id="fh5co-primary-menu">
									<li><a href="home">Home</a></li>
									<li><a class="active" href="about">About</a></li>
									<li><a href="gallery">Gallery</a></li>
									<li><a href="accomodation">Accomodation</a></li>
									<li><a href="services">Services</a></li>
																		<!-- <li><a href="blog">Blog</a></li> -->
									<li><a href="contact">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</header>

			</div>

			<div class="bg-image" style="background-image: url(images/slider1.jpg); width: 100%; height: inherit;"
				data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div
							class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
							<div class="fh5co-intro fh5co-table-cell"></div>
						</div>
					</div>
				</div>
			</div>


			<div class="bg-text">
				<h2 class="text-center" style="color: white;">Who we are?</h2>
				<p style="color: white" ;>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
					when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					It has survived not only five centuries, but also the leap into electronic typesetting,
					remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
					containing Lorem Ipsum passages,
					and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
					Ipsum.
				</p>
			</div>
		</div>
	</div>

	<!-- Book With Us & Contact Us -->
	<div id="featured-hotel" class="fh5co-bg-color" style="padding-bottom: 0;">
		<div class="container">
			<div class="desc">
				<div class="section-title text-center" style="margin-bottom: 0;">
					<h3 class="heading-style" style="font-weight: bold;">Why Book with us?</h3>
					<h1 style="
					text-decoration: underline;
					text-decoration-thickness: auto;
					color: #990000;
					text-align: center;
					margin-top: -5rem;
    				margin-bottom: 2rem;">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
				</div>
				<p style="text-align: justify; color: #000;">Pellentesque habitant morbi tristique senectus et
					netus ett
					mauada fames ac turpis egestas.
					Etiam euismod tempor leo, in suscipit urna condimentum sed. Vivamus augue enim, consectetur
					ac interdum a, pulvinar ac massa. Nullam malesuada congue
					Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas.
					Etiam euismod tempor leo, in suscipit urna condimentum sed. Vivamus augue enim, consectetur
					ac interdum a, pulvinar ac massa. Nullam malesuada congue
				</p>
			</div>
		</div>

		<!-- contact us -->
		<div id="featured-hotel" class="fh5co-bg-color" style="padding-top: 1rem;">
			<div class="container">
				<div class="col-md-12">
					<h3 class="heading-style"
						style="margin-top: 0rem; text-align: center; margin-bottom: 2rem;margin-top: -2rem; font-weight: bold;">
						Contact Us
					</h3>
					<h1 style="
					text-decoration: underline;
					text-decoration-thickness: auto;
					color: #990000;
					text-align: center;
					margin-top: -5rem;
    				margin-bottom: 2rem;">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
					<p style="text-align: center; color: #000;">Far far away, behind the word mountains, far
						from the
						countries Vokalia and Consonantia, there live the blind texts.</p>

					<div class="w3-row">
						<div class="w3-col w3-container w3-whiteblack" style="width:300px; height: 32px;">
							<p style="color: black; float: right;"><i class="ti-map"></i>&nbsp; Our Address</p>
						</div>
						<div class="w3-rest w3-container w3-whiteblack contact-mobile" style="height: 32px;">
							<p style="color: black;">198 West 21th Street, Suite 721 New York NY 10016</p>
						</div>
						<br>
						<div class="w3-col w3-container w3-whiteblack" style="width:300px; height: 32px;">
							<p style="color: black; float: right;"><i class="ti-envelope"></i>&nbsp; Phone</p>
						</div>
						<div class="w3-rest w3-container w3-whiteblack contact-mobile" style="height: 32px;">
							<p style="color: black;">+ 1235 2355 98</p>
						</div>
						<br>
						<div class="w3-col w3-container w3-whiteblack" style="width:300px; height: 32px;">
							<p style="color: black; float: right;"><i class="ti-envelope"></i>&nbsp; Email</p>
						</div>
						<div class="w3-rest w3-container w3-whiteblack contact-mobile" style="height: 32px;">
							<p style="color: black;">info@yoursite.com</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Payment Methods Start -->
	<div style="height: auto;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center" style="margin-bottom: 2rem">
						<h3 class="heading-style"
							style="margin-bottom: 0em; margin-top: 2rem; margin-bottom: 2rem; font-weight: bold;">
							Payment Methods</h3>
							<h1 style="
							text-decoration: underline;
							text-decoration-thickness: auto;
							color: #990000;
							text-align: center;
							margin-top: -5rem;
							margin-bottom: 2rem;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
						<h2 style="margin-bottom: 0em; font-size: 1.5rem;">We accept various payment methods,
							Debit/Credit Cards, online transactions, cash.<br>You name it.</h2>
						<div class="w3-row" style="margin-top: 2rem;">
							<div class="w3-col w3-right w3-container w3-white payment-icon-box"
								style="width:300px; height: 100px;">
								<img class=" margin-right-two" style="float: left;" src="images/payment/005-payment-method.png">
							</div>
							<div class="w3-rest w3-container w3-white" style="height: 100px;">
								<h1 class="payment-options payment-text-box-cash">CASH</h1>
							</div>
							<br>
							<div class="w3-col w3-right w3-container w3-white  payment-icon-box"
								style="width:300px; height: 100px;">
								<img class="margin-right-two" style="float: left;" src="images/payment/006-cashless-payment-1.png">
							</div>
							<div class="w3-rest w3-container w3-white" style="height: 100px;">
								<h1 class="payment-options payment-text-box-wallet">E-WALLETS</h1>
							</div>
							<br>
							<div class="w3-col w3-right w3-container w3-white  payment-icon-box"
								style="width:300px; height: 100px;">
								<img class="margin-right-two" style="float: left;" src="images/payment/002-credit-card.png">
							</div>
							<div class="w3-rest w3-container w3-white" style="height: 100px;">
								<h1 class="payment-options payment-text-box-card">CREDIT/DEBIT CARDS</h1>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Payment Methods End -->

	<!-- COVID start -->
	<div style="background-color: #FF5722;">
		<div class="container">
			<div class="col-md-12">
				<h1 style="font-weight: bold; color: white; text-align: center; margin-bottom: -1rem;">Covid-19 update
				</h1>
			</div>
			<div class="row">
				<p style="color: white; text-align: justify; padding: 20px;">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
					and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
					leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
					with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
					publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			</div>
		</div>
	</div>
	<!-- COVID end -->

	<!-- Team start -->
	<div class="container" style="margin-top: 5rem;">
		<h3 class="heading-style" style="margin-top: 0rem; text-align: center; margin-bottom: 2rem;">
			Meet Our <br> Experienced & Professional Team
		</h3>
		<h1 style="
					text-decoration: underline;
					text-decoration-thickness: auto;
					color: #990000;
					text-align: center;
					margin-top: -5rem;
    				margin-bottom: 2rem;">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
		<div class="container-fluid">
			<div id="carouselExplore" class="carousel slide explore-dimensions-box" data-ride="carousel"
				data-interval="12000">
				<div class="carousel-inner row w-100 mx-auto flex-nowrap" role="listbox">
					<div class="carousel-item col-md-3 active dimension-explore">
						<div class="w3-third w3-container ">
							<div class="row">
								<div class="col-md-12">
									<img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg"
										alt="wrapkit" class="img-fluid rounded-circle team-dp" />
								</div>
								<div class="col-md-12 text-center">
									<div class="pt-2">
										<h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
										<h6 class="subtitle mb-3">Property Specialist</h6>
										<p class="team-para">You can relay on our amazing features list and also our
											customer services will be great experience.</p>
										<ul class="list-inline">
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-facebook"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-twitter"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-instagram"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-behance"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item col-md-3 dimension-explore">
						<div class="w3-third w3-container ">
							<div class="row">
								<div class="col-md-12">
									<img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
										alt="wrapkit" class="img-fluid rounded-circle team-dp" />
								</div>
								<div class="col-md-12 text-center">
									<div class="pt-2">
										<h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
										<h6 class="subtitle mb-3">Property Specialist</h6>
										<p class="team-para">You can relay on our amazing features list and also our
											customer services will be great experience.</p>
										<ul class="list-inline">
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-facebook"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-twitter"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-instagram"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-behance"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item col-md-3 dimension-explore">
						<div class="w3-third w3-container ">
							<div class="row">
								<div class="col-md-12">
									<img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
										alt="wrapkit" class="img-fluid rounded-circle team-dp" />
								</div>
								<div class="col-md-12 text-center">
									<div class="pt-2">
										<h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
										<h6 class="subtitle mb-3">Property Specialist</h6>
										<p class="team-para">You can relay on our amazing features list and also our
											customer services will be great experience.</p>
										<ul class="list-inline">
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-facebook"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-twitter"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-instagram"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-behance"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item col-md-3 dimension-explore">
						<div class="w3-third w3-container ">
							<div class="row">
								<div class="col-md-12">
									<img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
										alt="wrapkit" class="img-fluid rounded-circle team-dp" />
								</div>
								<div class="col-md-12 text-center">
									<div class="pt-2">
										<h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
										<h6 class="subtitle mb-3">Property Specialist</h6>
										<p class="team-para">You can relay on our amazing features list and also our
											customer services will be great experience.</p>
										<ul class="list-inline">
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-facebook"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-twitter"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-instagram"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-behance"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item col-md-3 dimension-explore">
						<div class="w3-third w3-container ">
							<div class="row">
								<div class="col-md-12">
									<img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
										alt="wrapkit" class="img-fluid rounded-circle team-dp" />
								</div>
								<div class="col-md-12 text-center">
									<div class="pt-2">
										<h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
										<h6 class="subtitle mb-3">Property Specialist</h6>
										<p class="team-para">You can relay on our amazing features list and also our
											customer services will be great experience.</p>
										<ul class="list-inline">
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-facebook"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-twitter"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-instagram"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-behance"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item col-md-3">
						<div class="w3-third w3-container dimension-explore">
							<div class="row">
								<div class="col-md-12">
									<img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
										alt="wrapkit" class="img-fluid rounded-circle team-dp" />
								</div>
								<div class="col-md-12 text-center">
									<div class="pt-2">
										<h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
										<h6 class="subtitle mb-3">Property Specialist</h6>
										<p class="team-para">You can relay on our amazing features list and also our
											customer services will be great experience.</p>
										<ul class="list-inline">
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-facebook"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-twitter"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-instagram"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-behance"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item col-md-3 dimension-explore">
						<div class="w3-third w3-container ">
							<div class="row">
								<div class="col-md-12">
									<img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
										alt="wrapkit" class="img-fluid rounded-circle team-dp" />
								</div>
								<div class="col-md-12 text-center">
									<div class="pt-2">
										<h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
										<h6 class="subtitle mb-3">Property Specialist</h6>
										<p class="team-para">You can relay on our amazing features list and also our
											customer services will be great experience.</p>
										<ul class="list-inline">
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-facebook"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-twitter"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-instagram"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-behance"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item col-md-3 dimension-explore">
						<div class="w3-third w3-container ">
							<div class="row">
								<div class="col-md-12">
									<img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
										alt="wrapkit" class="img-fluid rounded-circle team-dp team-dp" />
								</div>
								<div class="col-md-12 text-center">
									<div class="pt-2">
										<h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
										<h6 class="subtitle mb-3">Property Specialist</h6>
										<p class="team-para">You can relay on our amazing features list and also our
											customer services will be great experience.</p>
										<ul class="list-inline">
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-facebook"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-twitter"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-instagram"></i></a></li>
											<li class="list-inline-item"><a href="#"
													class="text-decoration-none d-block px-1"><i
														class="icon-social-behance"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExplore" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color: black; font-size: 5rem;
							margin-left: 12rem;"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next text-faded " href="#carouselExplore" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: black; font-size: 5rem;
							margin-right: 12rem;"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	<!-- Team End -->


	<footer>
		<%- include('./partials/footer'); %>
	</footer>

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- Javascripts -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<!-- Dropdown Menu -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Owl Slider -->
	<!-- // <script src="js/owl.carousel.min.js"></script> -->
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.min.js"></script>
	<!-- CS Select -->
	<script src="js/classie.js"></script>
	<script src="js/selectFx.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>

	<script src="js/custom.js"></script>

	<!-- <script>
		$(document).ready(function () {

			$(window).resize(function () {

				var browserWidth = $(window).innerWidth();

				function resizeSlider(numColumns) {

					//Translate number of bootstrap columns
					if (numColumns == 4) {
						var bsColumn = "col-xs-3";
					} else if (numColumns == 3) {
						var bsColumn = "col-xs-4";
					} else if (numColumns == 2) {
						var bsColumn = "col-xs-6";
					} else if (numColumns == 1) {
						var bsColumn = "col-xs-12";
					}

					//Upwrap the slide images from their containing divs
					$(".slide-link").unwrap().unwrap();

					//Wrap every card in the appropriate bootstrap column
					$(".slide-link").wrap("<div class='" + bsColumn + " slide-wrapper'></div>");

					var slideWrappers = $(".slide-wrapper");

					//Wrap every 3 cards in an item class, forming 1 whole slide
					for (var i = 0; i < slideWrappers.length; i += numColumns) {
						if (i == 0) {
							var activeItem = ' active';
						} else {
							var activeItem = '';
						}

						slideWrappers.slice(i, i + numColumns).wrapAll("<div class='item" + activeItem + "'></div>");
					}

					//Empty the control indicators and rebuild them based on new number of slides
					$(".carousel-indicators").html("");

					var newNumberOfSlides = $("#myCarousel .item").length;

					for (var s = 0; s < newNumberOfSlides; s++) {
						if (s == 0) {
							var activeClass = "class='active'";
						} else {
							var activeClass = "";
						}

						$(".carousel-indicators").append("<li data-target='#carousel' data-slide-to='" + s + "'" + activeClass + "></li>");
					}
				}

				//if we're on a large desktop, organize the slides in 3 columns
				if (browserWidth > 991) {
					resizeSlider(3);
					//Large Tablet - 3 columns
				} else if (browserWidth > 767) {
					resizeSlider(2);
					//Small Tablet - 2 column
				} else {
					resizeSlider(1);
				}
			}).resize();

		});
	</script> -->
	<!-- Explore -->
	<script>
		$('#carouselExplore').on('slide.bs.carousel', function (e) {

			var $e = $(e.relatedTarget);
			var idx = $e.index();
			var itemsPerSlide = 0;
			var totalItems = $('.carousel-item').length;

			if (idx >= totalItems - (itemsPerSlide - 1)) {
				var it = itemsPerSlide - (totalItems - idx);
				for (var i = 0; i < it; i++) {
					// append slides to end
					if (e.direction == "left") {
						$('.carousel-item').eq(i).appendTo('.carousel-inner');
					}
					else {
						$('.carousel-item').eq(0).appendTo('.carousel-inner');
					}
				}
			}
		});
	</script>

</body>

</html>