<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Himalaya Boutique Hotel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<!-- Dropdown -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<!-- Carousal -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<!--Bootstrap CSS-->
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>

	<!--Bootstrap JS-->
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>

	<!--jQuery-->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

	<!--Touch Swipe-->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js'></script>

	<!--Prefixfree-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

	<!-- TEST -->

	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">


	<!-- for Testimonial -->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- w3 calendar -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,900,700,900italic' rel='stylesheet' type='text/css'> -->

	<!-- Stylesheets -->
	<!-- Dropdown Menu -->
	<link rel="stylesheet" href="css/superfish.css">
	<!-- Owl Slider -->
	<!-- <link rel="stylesheet" href="css/owl.carousel.css"> -->
	<!-- <link rel="stylesheet" href="css/owl.theme.default.min.css"> -->
	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="css/cs-select.css">
	<link rel="stylesheet" href="css/cs-skin-border.css">

	<!-- Themify Icons -->
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- Flat Icon -->
	<link rel="stylesheet" href="css/flaticon.css">
	<!-- Icomoon -->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Style -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<!-- FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Cormorant Garamond' rel='stylesheet'>

</head>

<body class="homeBody prevent-select">

	<div id="fh5co-wrapper">

		<div id="fh5co-page">

			<!-- Header Start-->
			<div id="fh5co-header">
				<header id="fh5co-header-section">
					<div class="container">
						<div class="nav-header">
							<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

							<h1 id="fh5co-logo">
								<div class="containerLogo">
									<div class="image">
										<img src="/images/logo/logo-1.png" alt="logo"
											style="width: 50px; height: 50px; margin-right: 1rem;" class="centerBlock"
											loading="lazy" fetchpriority="high">
									</div>
									<a href="home" class="header-mobile"
										style="font-family: Cormorant Garamond;">HIMALAYA BOUTIQUE HOTEL</a>
							</h1>

							<nav id="fh5co-menu-wrap" role="navigation">
								<ul class="sf-menu" id="fh5co-primary-menu">
									<li class="active"><a href="home">Home</a></li>
									<li><a href="about">About</a></li>
									<li><a href="gallery">Gallery</a></li>
									<li><a href="accomodation">Accomodation</a></li>
									<li><a href="services">Services</a></li>
									<!-- <li><a href="blog">Blog</a></li> -->
									<li><a href="contact">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</header>

			</div>
			<!-- Header End-->

			<aside id="fh5co-hero">
				<div class="flexslider">

					<ul class="slides">
						<li style="background-image: url(images/slider1.jpg); max-width: 100%; height: auto;">
							<div class="overlay-gradient"></div>
							<div class="container">
								<div class="col-md-12 col-md-offset-0 text-center slider-text">
									<div class="slider-text-inner js-fullheight">
										<div class="desc">
											<!-- <img src="/images/logo/logo-1.png" alt="logo"
												style="width: 150px; height: 150px;" class="centerBlock" loading="lazy"> -->
											<p style="font-family: Cormorant Garamond;
    											color: white;
    											font-weight: 500;"><span>Himalaya Boutique Hotel</span></p>
											<h2>Reserve Room for Family Vacation</h2>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li style="background-image: url(images/slider2.jpg); max-width: 100%; height: auto;">
							<div class="overlay-gradient"></div>
							<div class="container">
								<div class="col-md-12 col-md-offset-0 text-center slider-text">
									<div class="slider-text-inner js-fullheight">
										<div class="desc">
											<!-- <img src="/images/logo/logo-1.png" alt="logo"
												style="width: 150px; height: 150px;" class="centerBlock" loading="lazy"> -->
											<p style="font-family: Cormorant Garamond;
    											color: white;
    											font-weight: 500;"><span>Himalaya Boutique Hotel</span></p>
											<h2>Make Your Vacation Comfortable</h2>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li style="background-image: url(images/slider3.jpg); max-width: 100%; height: auto;">
							<div class="overlay-gradient"></div>
							<div class="container">
								<div class="col-md-12 col-md-offset-0 text-center slider-text">
									<div class="slider-text-inner js-fullheight">
										<div class="desc">
											<!-- <img src="/images/logo/logo-1.png" alt="logo"
												style="width: 150px; height: 150px;" class="centerBlock" loading="lazy"> -->
											<p style="font-family: Cormorant Garamond;
    											color: white;
    											font-weight: 500;"><span>Himalaya Boutique Hotel</span></p>
											<h2>A Best Place To Enjoy Your Life</h2>
										</div>
									</div>
								</div>
							</div>
						</li>

					</ul>

					<!-- <div class="wrap" style="margin-bottom: 0rem;">
						<div class="container">
							<div class="row" style="margin-bottom: -3rem;">
								<div id="availability" style="top: -20rem;">
									<button class="bookNowButton" data-toggle="modal" data-target="#exampleModalCenter">
										Book Now
									</button>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</aside>
		</div>


		<div class="check-availability-div" style="background-color: black; z-index: 2;">
			<div class="container">
				<div class="row" style="margin-bottom: -20rem !important;">
					<div id="availability-A">

						<form id="bookingForm" class="check-div" name="bookingForm" action="home" method="post"
							onchange="calculate(this)">

							<div class="a-col" style="background-color: black;">
								<section class="ca-1">
									<div class="first-block">
										<span class="c-a-font">
											<i style="font-size:20px; color: white;" class="fa">&#xf073;</i>
											DATES ( <span id="Nights"></span> NIGHT )
										</span>
										<div>
											<div class="check-heading">
												<h5
													style="float: left; color: white; font-size: 15px; margin-top: 0px;">
													Check
													In</h5>
												<h5
													style="float: right; color: white; font-size: 15px; margin-top: 0px;">
													Check
													Out</h5>
											</div>
											<div>
												<input id="checkInId" class="check-in-date-div" type="date"
													name="checkInData" placeholder="check In" required min=minDate />
												<i class="fa check-arrow">
													&#xf178;
												</i>
												<input id="checkOutId" class="check-out-date-div" type="date"
													name="checkOutData" placeholder="check Out" required min=minDate
													onchange="check()" />
											</div>
										</div>
									</div>
								</section>
							</div>
							<div class="vertical-line"></div>
							<div class="a-col alternate alternatea first-block" style="background-color: black;">
								<span class="c-a-font">
									<i style="font-size:20px; color: white;"
										class="fa">&#xf0f2;</i><span>&nbsp;
										ROOMS & GUESTS</span>
								</span>
								<div class="block-two-2">
									<div class="block-two-3">
										<h5 class="check-heading ch1" style="color: white; font-size: 15px; float: left;">
											Room</h5>
										<p class="check-value"><span id="adultV"></span></p>

										<h5 class="check-heading ch1"
											style="color: white; font-size: 15px; float: left; padding-left: 1rem;">
											Adult</h5>
										<p class="check-value">
											<span id="roomV"></span>
										</p>

										<div>
											<h5 class="check-heading c-a-font ch1"
												style="color: white; float: left; padding-left: 1rem;">
												Children</h5>
											<p class="check-value">
												<span id="childV" class="childV" style="margin-left: -1rem;"></span>
											</p>
										</div>

									</div>

									<!-- <div style="padding-top: 5rem;">
													</div> -->
								</div>

								<div class="btn-group" style="margin-top: 5px !important;">


									<!-- <button type="button"
														class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
														data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
														style=" margin-left: 23px; margin-top: 2rem;">
														<span class="sr-only">Toggle Dropdown</span>
													</button> -->
									<div class="btn dropdown">
										<button class="dropdown-btn" type="button" data-toggle="dropdown">
										</button>
										<div class="dropdown-menu" onclick="event.stopPropagation()">
											<div id="wrapper">
												<div id="c1">
													<div class="panel" style=" background: none; max-height: 100%;">
														<p style="
																			color: black;
																			padding-top: 1rem;
																			margin-bottom: 0rem;
																			font-size: small;
																			text-align: center;
																		">
															MAXIMUM 4 GUESTS PER ROOM
														</p>
														<!-- Rooms Start-->
														<div class="box-form" style=" 
																			background: none;
																			padding: 0px !important;">
															<div style="margin-right: 2rem;
																			padding-right: 2rem;">
																<label for="name" color: black;">
																	<span style="float: left;">Rooms</span> <br>
																	<p style="
																			color: black;
																			font-size: small;
																		">(Max: 3 total rooms/person)</p>
																</label>
															</div>

															<button type="button" class="decRooms button"
																style="border: 1px solid rgb(0, 0, 0)">
																-
															</button>

															<input id="rooms" type="number" name="rooms" value="1"
																class="input-filed rooms"
																style="text-align: center; background: none; color:black; font-weight:bold; border: none;"
																required autocomplete="off" readonly>
															<button type="button" id="rminc" class="incRooms button"
																style="border: 1px solid rgb(0, 0, 0)"> + </button>
														</div>
														<!-- Rooms End-->
														<!-- Adults Start-->
														<div class="box-form" style=" background: none;"
															style="padding: 0px !important;">
															<div style="margin-right: 2rem;
																			padding-right: 3rem;">
																<label for="name" color: black;">
																	<span style="float: left;">Adults</span> <br>
																	<p style="
																				color: black;
																				font-size: small;
																			">(Max: 4 total guests/room)</p>
																</label>
															</div>

															<button type="button" class="dec button"
																style="border: 1px solid rgb(0, 0, 0)">
																-
															</button>
															<input id="adults" type="number" name="adults" value="1"
																class="input-filed adults"
																style="text-align: center; background: none; color:black; font-weight:bold; border: none;"
																required autocomplete="off" readonly>
															<button type="button" id="adltinc" class="inc button"
																style="border: 1px solid rgb(0, 0, 0);"> +
															</button>
														</div>
														<!-- Adults End-->
														<!-- Children Start -->
														<div class="box-form" name="childrenDiv"
															style=" background: none;" style="padding: 0px !important;">
															<div style="margin-right: 2rem;
																			padding-right: 3rem;">
																<label for="name" color: black;">
																	<span style="float: left;">Children</span><br>
																	<p style="
																			color: black;
																			font-size: small;
																		">(Max: 4 total guests/room)</p>
																</label>
															</div>
															<button type="button" class="Childdec button"
																style="border: 1px solid rgb(0, 0, 0)">
																-
															</button>
															<input id="children" type="number" name="children" value="0"
																class="input-filed"
																style="text-align: center; background: none; color:black; font-weight:bold; border: none;"
																readonly>
															<button type="button" id="chdinc" class="Childinc button"
																name="childrenInc" onclick="showPara();"
																style="border: 1px solid rgb(0, 0, 0)">
																+
															</button>
														</div>
														<!-- Children End -->
													</div>
												</div>
												<!-- Age of Children  START-->
												<div id="c2">
													<p style="
																	color: black;
																	padding-top: 1rem;
																	margin-bottom: 0rem;
																	font-size: small;
																	text-align: center;
																	font-weight: bold;
																		">Age of
														Children
														Required</p>
													<p style="
																			color: black;
																			padding-top: 1rem;
																			margin-bottom: 0rem;
																			font-size: xx-small;
																			text-align: center;
																		">(0 for 0-12 months)</p>
													<span id="fooBar"></span>
												</div>
												<!-- Age of Children  END-->
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="vertical-line"></div>
							<div class="a-col alternate alternateb alternateb2" style="background-color: black;">
								<span class="d-1" style="color: white; font-size: 15px;">
									<i style="font-size:20px; color: white;" class="fa">&#xf0f2;</i>
									<span class="c-a-font">SPECIAL RATES</span>
								</span>
							</div>
							<div class="a-col action block3 block3a" style="background-color: black;">
								<a href="#" onclick="submitForm()">
									<span id="c-a-text">Check <br>Availability</span>

								</a>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Welcome Start -->
		<div style="margin-top: 3rem; margin-bottom: 6rem;">
			<h5 style="
				color: grey;
				text-align: center;
				font-size: 1.3rem;
				margin-bottom: 2rem;
				margin-top: 8rem;">
				<span>WELCOME TO KATHMANDU HIMALAYA BOUTIQUE HOTEL</span>
			</h5>
			<h1 style="
					text-decoration: underline;
					text-decoration-thickness: auto;
					color: #990000;
					text-align: center;
					margin-top: -2rem;
					margin-bottom: 0rem;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
			<h2 style="
				color: black;
				font-size: 3rem;
				font-weight: bold;
				text-align: center;
				margin-bottom: 0rem;">
				Experience Nepal from our new hotel in</h2>
			<h2 style="
				color: black;
				font-size: 3rem;
				font-weight: bold;
				text-align: center;">Kathmandu</h2>
			<p id="introduction-para" style="
				color: black;
				text-align: center;">
				<span>Something Something Small
					Paragraph - Lorem ipsum
					dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
					interdum, nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim
						ligula
						venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce
						luctus
						vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
						In
						at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus
						gravida
						venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor
						porta.</span><button onclick="intro_read_more()" id="read-more-button">Read more</button>
			</p>
		</div>

		<!-- Ameneties Start-->
		<div class="ameneties-details">
			<div class="container">

				<div class="section-title text-center">
					<h1 class="heading-style" style="
						margin: 30px 0 30px 0;">
						HOTEL AMENETIES
					</h1>
					<h1 style="
						text-decoration: underline;
						text-decoration-thickness: auto;
						color: #990000;
						text-align: center;
						margin-top: -6rem;
						margin-bottom: 2rem;">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
				</div>
				<div id="tabs">
					<!-- <nav class="tabs-nav" style="width: 123%; margin-left: -12rem; margin-bottom: 2rem;"> -->
					<nav class="tabs-nav"">

							<a id=" freeInternet" class="ameneties-size" href="#" class="active" data-tab="tab1">
						<img class="wifi-png" src="images/icon-hotel-png/001-internet.png" loading="lazy"
							loading="lazy"></i>
						<span style="word-break: break-word; font-size: 10px;">Free Internet</span>
						</a>
						<a class="ameneties-size" href="#" data-tab="tab2">
							<img src="images/icon-hotel-png/002-car-wash.png" loading="lazy"></i>
							<span style="word-break: break-word;">Free Parking</span>
						</a>
						<a class="ameneties-size" href="#" data-tab="tab3">

							<img src="images/icon-hotel-png/003-cutlery.png" loading="lazy"></i>
							<span style="word-break: break-word;">On-Site Restaurant</span>
						</a>
						<a class="ameneties-size" href="#" data-tab="tab4">

							<img src="images/icon-hotel-png/004-room-service.png" loading="lazy"></i>
							<span style="word-break: break-word;">Room Service</span>
						</a>
						<a class="ameneties-size" href="#" data-tab="tab8">

							<img src="images/icon-hotel-png/008-smart-key.png" loading="lazy"></i>
							<span style="word-break: break-word;">Digital Key</span>
						</a>
						<a class="ameneties-size" href="#" data-tab="tab9">

							<img src="images/icon-hotel-png/009-printing.png" loading="lazy"></i>
							<span style="word-break: break-word;">Business Services</span>
						</a>
						<a class="ameneties-size" href="#" data-tab="tab10">

							<img src="images/icon-hotel-png/010-beach-chair.png" loading="lazy"></i>
							<span style="word-break: break-word;">Resort Property</span>
						</a>
						<a class="ameneties-size" href="#" data-tab="tab11">

							<img src="images/icon-hotel-png/011-hanger.png" loading="lazy"></i>
							<span style="word-break: break-word;">Laundry</span>
						</a>
						<a class="ameneties-size" href="#" data-tab="tab12">

							<img src="images/icon-hotel-png/012-bellboy.png" loading="lazy"></i>
							<span style="word-break: break-word;">Concierge</span>
						</a>
					</nav>
					<div class="tab-content-container" style="margin-top: 2rem;">
						<div class="tab-content active show" data-tab-content="tab1">
							<div class="container">
								<div class="row rowAmImg">
									<div class="col-md-6">
										<img src="images/ameneties/internet.webp" class="img-responsive" alt="Image"
											loading="lazy">
									</div>
									<div class="col-md-6">
										<span class="super-heading-sm" style="color: black;">World Class</span>
										<span>
											<h3 class="heading" style="color: black;">Free Parking <p
													class="service-hour" style="color: black;">
													<span style="color: black;">Availability
														<strong style="font-size: 2rem;">24/7</strong></span>
												</p>
											</h3>
										</span>
										<span>
											<p class="ameneties-para" style="color: black;">Lorem ipsum dolor sit
												amet, consectetur
												adipisicing elit. Molestias
												officia perferendis modi impedit, rem quasi veritatis. Consectetur
												obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at.
												Quia,
												labore, reprehenderit illum dolorem quae facilis reiciendis quas
												similique totam sequi ducimus temporibus ex nemo, omnis perferendis
												earum fugit impedit molestias animi vitae.</p>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-content" data-tab-content="tab2">
							<div class="container">
								<div class="row rowAmImg">
									<div class="col-md-6">
										<img src="images/ameneties/parking.webp" class="img-responsive" alt="Image"
											loading="lazy">
									</div>
									<div class="col-md-6">
										<span class="super-heading-sm" style="color: black;">World Class</span>
										<h3 class="heading" style="color: black;">Free Parking <p class="service-hour"
												style="color: black;">
												<span style="color: black;">Availability
													<strong style="font-size: 2rem;">24/7</strong></span>
											</p>
										</h3>

										<span>
											<p class="ameneties-para" style="color: black;">Lorem ipsum dolor sit
												amet, consectetur
												adipisicing elit. Molestias
												officia perferendis modi impedit, rem quasi veritatis. Consectetur
												obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at.
												Quia,
												labore, reprehenderit illum dolorem quae facilis reiciendis quas
												similique totam sequi ducimus temporibus ex nemo, omnis perferendis
												earum fugit impedit molestias animi vitae.</p>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-content" data-tab-content="tab3">
							<div class="container">
								<div class="row rowAmImg">
									<div class="col-md-6">
										<img src="images/ameneties/restaurant.webp" class="img-responsive" alt="Image"
											loading="lazy">
									</div>
									<div class="col-md-6">
										<span class="super-heading-sm" style="color: black;">World Class</span>
										<h3 class="heading" style="color: black;">On-Site Restaurant <p
												class="service-hour" style="color: black;">
												<span style="color: black;">Availability
													<strong style="font-size: 2rem;">24/7</strong></span>
											</p>
										</h3>
										<span>
											<p class="ameneties-para" style="color: black;">Lorem ipsum dolor sit
												amet, consectetur
												adipisicing elit. Molestias
												officia perferendis modi impedit, rem quasi veritatis. Consectetur
												obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at.
												Quia,
												labore, reprehenderit illum dolorem quae facilis reiciendis quas
												similique totam sequi ducimus temporibus ex nemo, omnis perferendis
												earum fugit impedit molestias animi vitae.</p>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-content" data-tab-content="tab4">
							<div class="container">
								<div class="row rowAmImg">
									<div class="col-md-6">
										<img src="images/ameneties/roomservice.webp" class="img-responsive" alt="Image"
											loading="lazy">
									</div>
									<div class="col-md-6">
										<span class="super-heading-sm" style="color: black;">World Class</span>
										<h3 class="heading" style="color: black;">Room Service <p class="service-hour"
												style="color: black;">
												<span style="color: black;">Availability
													<strong style="font-size: 2rem;">24/7</strong></span>
											</p>
										</h3>
										<span>
											<p class="ameneties-para" style="color: black;">Lorem ipsum dolor sit
												amet, consectetur
												adipisicing elit. Molestias
												officia perferendis modi impedit, rem quasi veritatis. Consectetur
												obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at.
												Quia,
												labore, reprehenderit illum dolorem quae facilis reiciendis quas
												similique totam sequi ducimus temporibus ex nemo, omnis perferendis
												earum fugit impedit molestias animi vitae.</p>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-content" data-tab-content="tab5">
							<div class="container">
								<div class="row rowAmImg">
									<div class="col-md-6">
										<img src="images/ameneties/digitalkey.webp" class="img-responsive" alt="Image"
											loading="lazy">
									</div>
									<div class="col-md-6">
										<span class="super-heading-sm" style="color: black;">World Class</span>
										<h3 class="heading" style="color: black;">Swimming Pool <p class="service-hour"
												style="color: black;">
												<span style="color: black;">Availability
													<strong style="font-size: 2rem;">24/7</strong></span>
											</p>
										</h3>
										<span>
											<p class="ameneties-para" style="color: black;">Lorem ipsum dolor sit
												amet, consectetur
												adipisicing elit. Molestias
												officia perferendis modi impedit, rem quasi veritatis. Consectetur
												obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at.
												Quia,
												labore, reprehenderit illum dolorem quae facilis reiciendis quas
												similique totam sequi ducimus temporibus ex nemo, omnis perferendis
												earum fugit impedit molestias animi vitae.</p>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-content" data-tab-content="tab6">
							<div class="container">
								<div class="row rowAmImg">
									<div class="col-md-6">
										<img src="images/ameneties/bservice.webp" class="img-responsive" alt="Image"
											loading="lazy">
									</div>
									<div class="col-md-6">
										<span class="super-heading-sm" style="color: black;">World Class</span>
										<h3 class="heading" style="color: black;">Spa <p class="service-hour"
												style="color: black;">
												<span style="color: black;">Availability
													<strong style="font-size: 2rem;">24/7</strong></span>
											</p>
										</h3>
										<span>
											<p class="ameneties-para" style="color: black;">Lorem ipsum dolor sit
												amet, consectetur
												adipisicing elit. Molestias
												officia perferendis modi impedit, rem quasi veritatis. Consectetur
												obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at.
												Quia,
												labore, reprehenderit illum dolorem quae facilis reiciendis quas
												similique totam sequi ducimus temporibus ex nemo, omnis perferendis
												earum fugit impedit molestias animi vitae.</p>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-content" data-tab-content="tab7">
							<div class="container">
								<div class="row rowAmImg">
									<div class="col-md-6">
										<img src="images/ameneties/resort.webp" class="img-responsive" alt="Image"
											loading="lazy">
									</div>
									<div class="col-md-6">
										<span class="super-heading-sm" style="color: black;">World Class</span>
										<h3 class="heading" style="color: black;">Gym <p class="service-hour"
												style="color: black;">
												<span style="color: black;">Availability
													<strong style="font-size: 2rem;">24/7</strong></span>
											</p>
										</h3>
										<span>
											<p class="ameneties-para" style="color: black;">Lorem ipsum dolor sit
												amet, consectetur
												adipisicing elit. Molestias
												officia perferendis modi impedit, rem quasi veritatis. Consectetur
												obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at.
												Quia,
												labore, reprehenderit illum dolorem quae facilis reiciendis quas
												similique totam sequi ducimus temporibus ex nemo, omnis perferendis
												earum fugit impedit molestias animi vitae.</p>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-content" data-tab-content="tab8">
							<div class="container">
								<div class="row rowAmImg">
									<div class="col-md-6">
										<img src="images/ameneties/laundry.webp" class="img-responsive" alt="Image"
											loading="lazy">
									</div>
									<div class="col-md-6">
										<span class="super-heading-sm" style="color: black;">World Class</span>
										<h3 class="heading" style="color: black;">Digital Key <p class="service-hour"
												style="color: black;">
												<span style="color: black;">Availability
													<strong style="font-size: 2rem;">24/7</strong></span>
											</p>
										</h3>
										<span>
											<p class="ameneties-para" style="color: black;">Lorem ipsum dolor sit
												amet, consectetur
												adipisicing elit. Molestias
												officia perferendis modi impedit, rem quasi veritatis. Consectetur
												obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at.
												Quia,
												labore, reprehenderit illum dolorem quae facilis reiciendis quas
												similique totam sequi ducimus temporibus ex nemo, omnis perferendis
												earum fugit impedit molestias animi vitae.</p>
											</p>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-content" data-tab-content="tab9">
							<div class="container">
								<div class="row rowAmImg">
									<div class="col-md-6">
										<img src="images/ameneties/conc.webp" class="img-responsive" alt="Image"
											loading="lazy">
									</div>
									<div class="col-md-6">
										<span class="super-heading-sm" style="color: black;">World Class</span>
										<h3 class="heading" style="color: black;">Business Services <p
												class="service-hour" style="color: black;">
												<span style="color: black;">Availability
													<strong style="font-size: 2rem;">24/7</strong></span>
											</p>
										</h3>
										<span>
											<p class="ameneties-para" style="color: black;">Lorem ipsum dolor sit
												amet, consectetur
												adipisicing elit. Molestias
												officia perferendis modi impedit, rem quasi veritatis. Consectetur
												obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at.
												Quia,
												labore, reprehenderit illum dolorem quae facilis reiciendis quas
												similique totam sequi ducimus temporibus ex nemo, omnis perferendis
												earum fugit impedit molestias animi vitae.</p>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-content" data-tab-content="tab10">
							<div class="container">
								<div class="row rowAmImg">
									<div class="col-md-6">
										<img src="images/ameneties/resort.webp" class="img-responsive" alt="Image"
											loading="lazy">
									</div>
									<div class="col-md-6">
										<span class="super-heading-sm" style="color: black;">World Class</span>
										<h3 class="heading" style="color: black;">Resort Propery <p class="service-hour"
												style="color: black;">
												<span style="color: black;">Availability
													<strong style="font-size: 2rem;">24/7</strong></span>
											</p>
										</h3>
										<span>
											<p class="ameneties-para" style="color: black;">Lorem ipsum dolor sit
												amet, consectetur
												adipisicing elit. Molestias
												officia perferendis modi impedit, rem quasi veritatis. Consectetur
												obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at.
												Quia,
												labore, reprehenderit illum dolorem quae facilis reiciendis quas
												similique totam sequi ducimus temporibus ex nemo, omnis perferendis
												earum fugit impedit molestias animi vitae.</p>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-content" data-tab-content="tab11">
							<div class="container">
								<div class="row rowAmImg">
									<div class="col-md-6">
										<img src="images/ameneties/laundry.webp" class="img-responsive" alt="Image"
											loading="lazy">
									</div>
									<div class="col-md-6">
										<span class="super-heading-sm" style="color: black;">World Class</span>
										<h3 class="heading" style="color: black;">Laundry
											<p class="service-hour" style="color: black;">
												<span style="color: black;">Availability
													<strong style="font-size: 2rem;">24/7</strong></span>
											</p>
										</h3>
										<span>
											<p class="ameneties-para" style="color: black;">Lorem ipsum dolor sit
												amet, consectetur
												adipisicing elit. Molestias
												officia perferendis modi impedit, rem quasi veritatis. Consectetur
												obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at.
												Quia,
												labore, reprehenderit illum dolorem quae facilis reiciendis quas
												similique totam sequi ducimus temporibus ex nemo, omnis perferendis
												earum fugit impedit molestias animi vitae.</p>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-content" data-tab-content="tab12">
							<div class="container">
								<div class="row rowAmImg">
									<div class="col-md-6">
										<img src="images/ameneties/conc.webp" class="img-responsive" alt="Image"
											loading="lazy">
									</div>
									<div class="col-md-6">
										<span class="super-heading-sm" style="color: black;">World Class</span>
										<h3 class="heading" style="color: black;">Concierge
											<p class="service-hour" style="color: black;">
												<span style="color: black;">Availability
													<strong style="font-size: 2rem;">24/7</strong></span>
											</p>
										</h3>
										<span>
											<p class="ameneties-para" style="color: black;">Lorem ipsum dolor sit
												amet, consectetur
												adipisicing elit. Molestias
												officia perferendis modi impedit, rem quasi veritatis. Consectetur
												obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at.
												Quia,
												labore, reprehenderit illum dolorem quae facilis reiciendis quas
												similique totam sequi ducimus temporibus ex nemo, omnis perferendis
												earum fugit impedit molestias animi vitae.</p>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Ameneties End-->

		<!-- GALLERY Start-->
		<div id="gallery-index">
			<h3 class="heading-style">
				GALLERY
			</h3>
			<h1 style="
						text-decoration: underline;
						text-decoration-thickness: auto;
						color: #990000;
						text-align: center;
						margin-top: -5rem;
    					margin-bottom: 2rem;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>

			<div id="carousel-example-generic" class="carousel slide" data-bs-touch="true">
				<!-- Indicators -->
				<ol class="carousel-indicators carousel-indicators-gallery">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
					<li data-target="#carousel-example-generic" data-slide-to="4"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="https://unsplash.it/1400/600?girl">
						<div class="carousel-caption d-none d-md-block">
							<h2
								style="color: white; backdrop-filter: brightness(60%); margin-bottom: 0rem; padding-bottom: 0px;">
								The
								whole caption will only show up if the
								screen is at least medium size.</h2>
						</div>
					</div>
					<div class="item">
						<img src="https://unsplash.it/1400/600?bikni">
						<div class="carousel-caption d-none d-md-block">
							<h2
								style="color: white; backdrop-filter: brightness(60%); margin-bottom: 0rem; padding-bottom: 0px;">
								The
								whole caption will only show up if the
								screen is at least medium size.</h2>
						</div>
					</div>
					<div class="item">
						<img src="https://unsplash.it/1400/600?beauty">
						<div class="carousel-caption d-none d-md-block">
							<h2
								style="color: white; backdrop-filter: brightness(60%); margin-bottom: 0rem; padding-bottom: 0px;">
								The
								whole caption will only show up if the
								screen is at least medium size.</h2>
						</div>
					</div>
					<div class="item">
						<img src="https://unsplash.it/1400/600?cat">
						<div class="carousel-caption d-none d-md-block">
							<h2
								style="color: white; backdrop-filter: brightness(60%); margin-bottom: 0rem; padding-bottom: 0px;">
								The
								whole caption will only show up if the
								screen is at least medium size.</h2>
						</div>
					</div>
					<div class="item">
						<img src="https://unsplash.it/1400/600?natural">
						<div class="carousel-caption d-none d-md-block">
							<h2
								style="color: white; backdrop-filter: brightness(60%); margin-bottom: 0rem; padding-bottom: 0px;">
								The
								whole caption will only show up if the
								screen is at least medium size.</h2>
						</div>
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<!-- GALLERY End-->

		<!-- Explore start -->
		<div class="container" style="margin-top: 5rem;">
			<div>
				<h3 class="heading-style"
					style="margin-top: 0rem; text-align: center; margin-bottom: 2rem;margin-top: 2rem;">
					EXPLORE NEARBY ATTRACTIONS
				</h3>
				<h1 style="
					text-decoration: underline;
					text-decoration-thickness: auto;
					color: #990000;
					text-align: center;
					margin-top: -5rem;
    				margin-bottom: 2rem;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
			</div>
			<!-- TEST -->
			<div class="container-fluid">
				<div id="carouselExplore" class="carousel slide explore-dimensions-box" data-ride="carousel"
					data-interval="12000">
					<div class="carousel-inner row w-100 mx-auto flex-nowrap" role="listbox">
						<div class="carousel-item col-md-3 active dimension-explore">
							<div class="w3-third w3-container ">
								<img class="explore-image" src="images/explore/image1.webp" alt="">
								<h2 class="explore-heading">Place Name A</h2>
								<p id=" introduction-para-explore" class="explore-paragraph">
									<span>Something Something Small
										Paragraph - Lorem ipsum
										dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et
										dictum
										interdum, nisi lorem egestas vitae scel<span id="edots">...</span>
										<span id="emore" style="display: none;">
											erisque enim2
											ligula
											venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor
											vitae
											massa. Fusce
											luctus
											vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper
											ipsum dignissim ac.
											In
											at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae
											dui
											eget tellus
											gravida
											venenatis. Integer fringilla congue eros non fermentum. Sed dapibus
											pulvinar
											nibh tempor
											porta.</span><button onclick="explore_read_more()" id="exread-more-button"
											class="explore-read-button">Read
											more</button>
								</p>
							</div>
						</div>
						<div class="carousel-item col-md-3 dimension-explore">
							<div class="w3-third w3-container ">
								<img class="explore-image" src="images/explore/image1.webp" alt="">
								<h2 class="explore-heading">Place Name B</h2>
								<p id="introduction-para-explore" class="explore-paragraph">
									<span>Something Something Small
										Paragraph - Lorem ipsum
										dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et
										dictum
										interdum, nisi lorem egestas vitae scel<span id="edots2">...</span>
										<span id="emore2" style="display: none;">
											erisque enim
											ligula
											venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor
											vitae
											massa. Fusce
											luctus
											vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper
											ipsum dignissim ac.
											In
											at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae
											dui
											eget tellus
											gravida
											venenatis. Integer fringilla congue eros non fermentum. Sed dapibus
											pulvinar
											nibh tempor
											porta.</span><button onclick="explore_read_more2()" id="exread-more-button2"
											class="explore-read-button">Read
											more</button>
								</p>
							</div>
						</div>
						<div class="carousel-item col-md-3 dimension-explore">
							<div class="w3-third w3-container ">
								<img class="explore-image" src="images/explore/image1.webp" alt="">
								<h2 class="explore-heading">Place Name C</h2>
								<p id="introduction-para-explore" class="explore-paragraph">
									<span>Something Something Small
										Paragraph - Lorem ipsum
										dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et
										dictum
										interdum, nisi lorem egestas vitae scel<span id="edots3">...</span>
										<span id="emore3" style="display: none;">
											erisque enim
											ligula
											venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor
											vitae
											massa. Fusce
											luctus
											vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper
											ipsum dignissim ac.
											In
											at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae
											dui
											eget tellus
											gravida
											venenatis. Integer fringilla congue eros non fermentum. Sed dapibus
											pulvinar
											nibh tempor
											porta.</span><button onclick="explore_read_more3()" id="exread-more-button3"
											class="explore-read-button">Read
											more</button>
								</p>
							</div>
						</div>
						<div class="carousel-item col-md-3 dimension-explore">
							<div class="w3-third w3-container ">
								<img class="explore-image" src="images/explore/image1.webp" alt="">
								<h2 class="explore-heading">Place Name D</h2>
								<p id="introduction-para-explore" class="explore-paragraph">
									<span>Something Something Small
										Paragraph - Lorem ipsum
										dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et
										dictum
										interdum, nisi lorem egestas vitae scel<span id="edots4">...</span>
										<span id="emore4" style="display: none;">
											erisque enim
											ligula
											venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor
											vitae
											massa. Fusce
											luctus
											vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper
											ipsum dignissim ac.
											In
											at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae
											dui
											eget tellus
											gravida
											venenatis. Integer fringilla congue eros non fermentum. Sed dapibus
											pulvinar
											nibh tempor
											porta.</span><button onclick="explore_read_more4()" id="exread-more-button4"
											class="explore-read-button">Read
											more</button>
								</p>
							</div>
						</div>
						<div class="carousel-item col-md-3 dimension-explore">
							<div class="w3-third w3-container ">
								<img class="explore-image" src="images/explore/image1.webp" alt="">
								<h2 class="explore-heading">Place Name E</h2>
								<p id="introduction-para-explore" class="explore-paragraph">
									<span>Something Something Small
										Paragraph - Lorem ipsum
										dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et
										dictum
										interdum, nisi lorem egestas vitae scel<span id="edots5">...</span>
										<span id="emore5" style="display: none;">
											erisque enim
											ligula
											venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor
											vitae
											massa. Fusce
											luctus
											vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper
											ipsum dignissim ac.
											In
											at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae
											dui
											eget tellus
											gravida
											venenatis. Integer fringilla congue eros non fermentum. Sed dapibus
											pulvinar
											nibh tempor
											porta.</span><button onclick="explore_read_more5()" id="exread-more-button5"
											class="explore-read-button">Read
											more</button>
								</p>
							</div>
						</div>
						<div class="carousel-item col-md-3 dimension-explore">
							<div class="w3-third w3-container ">
								<img class="explore-image" src="images/explore/image1.webp" alt="">
								<h2 class="explore-heading">Place Name F</h2>
								<p id="introduction-para-explore" class="explore-paragraph">
									<span>Something Something Small
										Paragraph - Lorem ipsum
										dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et
										dictum
										interdum, nisi lorem egestas vitae scel<span id="edots5">...</span>
										<span id="emore5" style="display: none;">
											erisque enim
											ligula
											venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor
											vitae
											massa. Fusce
											luctus
											vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper
											ipsum dignissim ac.
											In
											at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae
											dui
											eget tellus
											gravida
											venenatis. Integer fringilla congue eros non fermentum. Sed dapibus
											pulvinar
											nibh tempor
											porta.</span><button onclick="explore_read_more5()" id="exread-more-button5"
											class="explore-read-button">Read
											more</button>
								</p>
							</div>
						</div>
						<div class="carousel-item col-md-3 dimension-explore">
							<div class="w3-third w3-container ">
								<img class="explore-image" src="images/explore/image1.webp" alt="">
								<h2 class="explore-heading">Place Name G</h2>
								<p id="introduction-para-explore" class="explore-paragraph">
									<span>Something Something Small
										Paragraph - Lorem ipsum
										dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et
										dictum
										interdum, nisi lorem egestas vitae scel<span id="edots7">...</span>
										<span id="emore7" style="display: none;">
											erisque enim
											ligula
											venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor
											vitae
											massa. Fusce
											luctus
											vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper
											ipsum dignissim ac.
											In
											at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae
											dui
											eget tellus
											gravida
											venenatis. Integer fringilla congue eros non fermentum. Sed dapibus
											pulvinar
											nibh tempor
											porta.</span><button onclick="explore_read_more7()" id="exread-more-button7"
											class="explore-read-button">Read
											more</button>
								</p>
							</div>
						</div>
						<div class="carousel-item col-md-3 dimension-explore">
							<div class="w3-third w3-container ">
								<img class="explore-image" src="images/explore/image1.webp" alt="">
								<h2 class="explore-heading">Place Name H</h2>
								<p id="introduction-para-explore" class="explore-paragraph">
									<span>Something Something Small
										Paragraph - Lorem ipsum
										dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et
										dictum
										interdum, nisi lorem egestas vitae scel<span id="edots8">...</span>
										<span id="emore8" style="display: none;">
											erisque enim
											ligula
											venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor
											vitae
											massa. Fusce
											luctus
											vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper
											ipsum dignissim ac.
											In
											at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae
											dui
											eget tellus
											gravida
											venenatis. Integer fringilla congue eros non fermentum. Sed dapibus
											pulvinar
											nibh tempor
											porta.</span><button onclick="explore_read_more8()" id="exread-more-button8"
											class="explore-read-button">Read
											more</button>
								</p>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExplore" role="button" data-slide="prev">
						<i class="fa fa-chevron-left fa-lg text-muted explore-left-arrow"></i>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next text-faded " href="#carouselExplore" role="button"
						data-slide="next">
						<i class="fa fa-chevron-right fa-lg text-muted explore-right-arrow"></i>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
		<!-- Explore End -->

		<!-- BLOG Start-->
		<!-- <div id="fh5co-blog-section" style="padding: 0rem;">
				<div class="container">
					<div class="row">
						<div class="col-md-12" style="padding-bottom: 2rem;">
							<div class="section-title text-center" style="margin-bottom:0rem">
								<h2 style="font-weight: bold;">Our Blog</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="blog-grid" style="background-image: url(images/image-1.jpg);">
								<div class="date text-center">
									<span>09</span>
									<small>Aug</small>
								</div>
							</div>
							<div class="desc">
								<h3><a href="#">Festive Vibes</a></h3>
							</div>
						</div>
						<div class="col-md-4">
							<div class="blog-grid" style="background-image: url(images/image-2.jpg);">
								<div class="date text-center">
									<span>19</span>
									<small>Sept</small>
								</div>
							</div>
							<div class="desc">
								<h3><a href="#">Our 1st Anniversary</a></h3>
							</div>
						</div>
						<div class="col-md-4">
							<div class="blog-grid" style="background-image: url(images/image-3.jpg);">
								<div class="date text-center">
									<span>21</span>
									<small>Oct</small>
								</div>
							</div>
							<div class="desc">
								<h3><a href="#">Discover New Adventure</a></h3>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		<!-- Blog End-->

		<!-- TESTIMONIALS Start -->
		<div class="container" style="margin-top: 5rem;">
			<h3 class="heading-style"
				style="margin-top: 0rem; text-align: center; margin-bottom: 2rem;margin-top: 2rem;">
				Testimonials</h3>
			<h1 style="
					text-decoration: underline;
					text-decoration-thickness: auto;
					color: #990000;
					text-align: center;
					margin-top: -5rem;
    				margin-bottom: 2rem;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
			<i class="fa fa-quote-right" style="color: black; 
				width: 100%; 
				text-align: center;
				font-size: 5rem;
				margin-bottom: 0rem;"></i>

			<!-- Testimonial Carousel Start below -->
			<div id="carousel1" class="carousel slide testimonial-style" data-ride="carousel" style="margin-top: -3rem">

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="carousel-caption testimonial-caption-style">
							<p class="testimonial-description">Lorem ipsum dolor sit amet, consectetur adipiscing
								elit,
								sed do eiusmod tempor incididunt
								ut
								labore et dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.
							</p>
							<p class="testimonial-authors">Person 1</p>
						</div>
					</div>
					<div class="item">
						<div class="carousel-caption testimonial-caption-style">
							<p class="testimonial-description">Lorem ipsum dolor sit amet, consectetur adipiscing
								elit,
								sed do eiusmod tempor incididunt
								ut
								labore et dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.</p>
							<p class="testimonial-authors">Person 2</p>
						</div>
					</div>
					<div class="item">
						<div class="carousel-caption testimonial-caption-style">
							<p class="testimonial-description">Lorem ipsum dolor sit amet, consectetur adipiscing
								elit,
								sed do eiusmod tempor incididunt
								u labore et dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.
							</p>
							<p class="testimonial-authors">Person 3</p>
						</div>
					</div>
				</div>
				<!-- Indicators -->
				<!-- <ol class="carousel-indicators">
						<li data-target="#carousel1" data-slide-to="0" class="active"></li>
						<li data-target="#carousel1" data-slide-to="1"></li>
						<li data-target="#carousel1" data-slide-to="2"></li>
					</ol> -->

				<!-- Controls -->

				<a class="left carousel-control" href="#carousel1" data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left"></span> </a>
				<a class="right carousel-control" href="#carousel1" data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right"></span> </a>
			</div>
		</div>
		<!-- END OF TESTIMONIALS -->

		<!-- Footer Start -->
		<footer style="margin-top: 5rem;">
			<%- include('./partials/footer'); %>
		</footer>
		<!-- Footer End -->

	</div>

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- Javascripts -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<!-- Dropdown Menu -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Owl Slider -->
	<!-- // <script src="js/owl.carousel.min.js"></script> -->
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.min.js"></script>
	<!-- CS Select -->
	<script src="js/classie.js"></script>
	<script src="js/selectFx.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>

	<script src="js/custom.js"></script>

	<script>
		/* Demo purposes only */
		$(".hover").mouseleave(
			function () {
				$(this).removeClass("hover");
			}
		);
	</script>

</body>

<!-- Calculate Date -->
<script>
	function calculate(checkIn, checkout) {

		var date1 = document.getElementById('checkInId').value;
		console.log('currentDate', currentDate);
		console.log('date1', date1);

		var date2 = document.getElementById('checkOutId').value;
		// console.log(date1, date2);
		// console.log(Date.parse(date1));

		var timeDiff = Math.abs(Date.parse(date1) - Date.parse(date2));
		var numberOfNights = Math.ceil(timeDiff / (1000 * 3600 * 24));

		if (isNaN(numberOfNights))
			document.getElementById('Nights').innerHTML = '0';
		else
			document.getElementById('Nights').innerHTML = numberOfNights;

		console.log(isNaN(numberOfNights));

	}
</script>

<!-- Show count on home -->
<script>
	var totalrooms = document.getElementById('rooms').value;
	var totaladults = document.getElementById('adults').value;
	var childCount = document.getElementById('children').value;
	document.getElementById('adultV').innerHTML = totalrooms;
	document.getElementById('roomV').innerHTML = totaladults;
	document.getElementById('childV').innerHTML = childCount;

	function aRoom() {
		var totalrooms = document.getElementById('rooms').value;
		var totaladults = document.getElementById('adults').value;

		document.getElementById('adultV').innerHTML = totalrooms;
		document.getElementById('roomV').innerHTML = totaladults;
	}

	function aChild(value) {
		const showValue = value;
		document.getElementById('childV').innerHTML = showValue;
	}

</script>

<!-- Accordion -->
<script>
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		acc[i].addEventListener("click", function () {

			var panel = this.nextElementSibling;
			if (panel.style.maxHeight) {
				panel.style.maxHeight = null;
			} else {
				let active = document.querySelectorAll(".accordion-div .accordion.active");
				for (let j = 0; j < active.length; j++) {
					active[j].classList.remove("active");
					active[j].nextElementSibling.style.maxHeight = null;
				}
				this.classList.toggle("active");
				panel.style.maxHeight = panel.scrollHeight + "px";
			}
		});
	}
</script>

<!-- Room + Adult + Children Count -->
<script>

	var totalPerson = 1;

	var incrementButton = document.getElementsByClassName('inc');
	var decrementButton = document.getElementsByClassName('dec');
	var roomsIncrementButton = document.getElementsByClassName('incRooms');
	var roomsDecrementButton = document.getElementsByClassName('decRooms');
	var roomV = document.getElementsByClassName('rooms');
	var adultV = document.getElementsByClassName('adults');

	// Increment Rooms
	for (var r = 0; r < roomsIncrementButton.length; r++) {
		let button = roomsIncrementButton[r];
		button.addEventListener('click', function (event) {

			let buttonClicked = event.target;
			let input = buttonClicked.parentElement.children[2];
			let inputValue = input.value;
			let newValue = parseInt(inputValue) + 1;

			if (newValue < 4) {
				input.value = newValue;
				aRoom(newValue); // to show value at home page "Rooms & Guests" bar
			}
			else if (newValue == 4) {
				console.log(" In *****", totalPerson);
				document.getElementById("rminc").disabled = true;
			}
		});
	}

	// Decrement Rooms
	for (var r = 0; r < roomsDecrementButton.length; r++) {
		let button = roomsDecrementButton[r];
		button.addEventListener('click', function (event) {

			let buttonClicked = event.target;
			let input = buttonClicked.parentElement.children[2];
			let inputValue = input.value;
			let newValue = parseInt(inputValue) - 1;

			if (newValue >= 1) {
				input.value = newValue;
				aRoom(newValue);
				document.getElementById("rminc").disabled = false;
			}
			else {
				input.value = 1;
				aRoom(input.value);
				document.getElementById("rminc").disabled = false;
			}
		})
	}

	// Increment Adults
	for (var i = 0; i < incrementButton.length; i++) {
		let button = incrementButton[i];
		button.addEventListener('click', function (event) {

			let buttonClicked = event.target;
			let input = buttonClicked.parentElement.children[2];
			let inputValue = input.value;
			let newValue = parseInt(inputValue) + 1;

			if (totalPerson < 4)
				totalPerson = totalPerson + 1;
			console.log(" Out Adult*****", totalPerson);


			if (newValue <= 4) {
				console.log(" TotalPerson Inc Adult *****", totalPerson);
				console.log("Input Value - ", newValue);
				input.value = newValue;
				aRoom(newValue); // to show value at home page "Rooms & Guests" bar
			}
			if (totalPerson == 4) {
				console.log(" In *****", totalPerson);
				document.getElementById("adltinc").disabled = true;
				document.getElementById("chdinc").disabled = true;
			}
		});
	}

	// Decrement Adults
	for (var i = 0; i < decrementButton.length; i++) {
		let button = decrementButton[i];
		button.addEventListener('click', function (event) {

			let buttonClicked = event.target;
			let input = buttonClicked.parentElement.children[2];
			let inputValue = input.value;
			let newValue = parseInt(inputValue) - 1;

			totalPerson = totalPerson - 1;

			if (decrementButton.value === 1)
				document.getElementById("adltinc").disabled = ftruealse;


			if (newValue >= 1) {
				console.log(" Dec If *****", totalPerson);
				// totalPerson = totalPerson - 1;
				input.value = newValue;
				aRoom(newValue);
				document.getElementById("adltinc").disabled = false;
				document.getElementById("chdinc").disabled = false;
			}
			if (newValue === 4)
				document.getElementById("chdinc").disabled = true;
			else {
				totalPerson = 1;
				console.log(" Dec Else *****", totalPerson);
				input.value = 1;
				newValue = 1;
				aRoom(input.value);
				document.getElementById("dec").disabled = false;
			}
		})
	}

	var incrementButtonChild = document.getElementsByClassName('Childinc');
	var decrementButtonChild = document.getElementsByClassName('Childdec');

	// Increment Children
	for (var i = 0; i < incrementButtonChild.length; i++) {
		var button = incrementButtonChild[i];
		button.addEventListener('click', function (event) {

			var buttonClicked = event.target;
			var input = buttonClicked.parentElement.children[2];
			var inputValue = input.value;
			var newValue = parseInt(inputValue) + 1;

			if (totalPerson < 4)
				totalPerson = totalPerson + 1;
			console.log("Out Children*****", totalPerson);


			if (totalPerson == 4) {
				console.log("In Children*****", totalPerson);
				document.getElementById("chdinc").disabled = true;
				document.getElementById("adltinc").disabled = true;
			}
			if (newValue <= 3) {
				console.log(" TotalPerson Inc Adult *****", totalPerson);
				input.value = newValue;
				add(newValue);
				aChild(newValue);
				// aChild(input.value);
			}
		});
	}

	// Decrement Children
	for (var i = 0; i < decrementButtonChild.length; i++) {
		var button = decrementButtonChild[i];
		button.addEventListener('click', function (event) {

			var buttonClicked = event.target;
			var input = buttonClicked.parentElement.children[2];
			var inputValue = input.value;
			var newValue = parseInt(inputValue) - 1;


			if (newValue >= 0) {
				document.getElementById("adltinc").disabled = false;
				totalPerson = totalPerson - 1;
				document.getElementById("chdinc").disabled = false;
				input.value = newValue;
				remove(newValue + 1);
				hidePara(newValue);
				aChild(newValue);
				console.log("dev child if newValue 1", newValue);
				aChild(input.value);
				console.log("dev child if input.value", input.value);
				document.getElementById("Childdec").disabled = true;
			}
			else {
				input.value = 0;
				newValue = 0;
				aChild(newValue);
				console.log("dev child if newValue 2", newValue);
				aChild(input.value);
				console.log("dev child if input.value", input.value);
				// document.getElementById("chdinc").disabled = false;
				// alert('Qty Can Not Be Less Than Zero');
				document.getElementById("adltinc").disabled = false;
			}
		})
	}
</script>

<!-- children Age -->
<script>
	function add(newValue) {
		var l = newValue;

		for (i = 1; i <= 1; i++) {
			//Create an input type dynamically.
			var element = document.createElement("input");

			//Assign different attributes to the element.
			element.setAttribute("type", 'number');
			element.setAttribute("min", "0");
			element.setAttribute("max", "16")
			element.setAttribute("class", 'childTransition');
			element.setAttribute("id", `child${l}`);
			element.setAttribute("name", `child${l}`);
			element.setAttribute('placeholder', `Enter Child ${l} Age`);
			element.style.background = "none";
			element.style.setProperty("--c", "black");
			element.setAttribute("autocomplete", "off");
			element.required = true;
			// element.setAttribute("placeholder", "0-12 months")
			element.setAttribute("onchange", "checkAge()")
			// element.textContent = `Enter Child ${l} Age`


			element.required = true;



			var brElement = document.createElement("br");

			var foo = document.getElementById("fooBar");

			//Append the element in page (in span).
			foo.appendChild(element);
		}
	}

	function remove(num) {
		var cname = `child${num}`
		const element = document.getElementById(cname);
		// console.log('-------------', element);
		element.remove();
	}
</script>

<!-- Show Hide Para -->
<script>
	function showPara() {
		var e = document.getElementById("c2");
		e.style.display = "block";
	}
	function hidePara(i) {
		const v = i;
		if (v == 0) {
			var element = document.getElementById("c2");
			element.style.display = "none";
		}
	}
</script>

<!-- Reload old data submission prevention -->
<script>
	if (window.history.replaceState) {
		window.history.replaceState(null, null, window.location.href);
	}
</script>

<!-- Min Date -->
<script>

	const date = new Date();
	let day = date.getDate();
	let month = date.getMonth() + 1;
	let year = date.getFullYear();
	// This arrangement can be altered based on how we want the date's format to appear.
	let currentDate = `${year}-${month}-${day}`;
	document.getElementById('checkInId').setAttribute("min", currentDate);
	document.getElementById('checkOutId').setAttribute("min", currentDate);

</script>

<!-- Confirmation START -->
<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function () {
		'use strict'

		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		var forms = document.querySelectorAll('.needs-validation')

		// Loop over them and prevent submission
		Array.prototype.slice.call(forms)
			.forEach(function (form) {
				form.addEventListener('submit', function (event) {
					if (!form.checkValidity()) {
						event.preventDefault()
						event.stopPropagation()
					}

					form.classList.add('was-validated')
				}, false)
			})
	})()
</script>
<!-- Confirmation END -->

<script>
	const rooms = document.querySelector("rooms");
	const adults = document.querySelector("adults");

	checkbox.addEventListener("click", checkboxClick, false);

	function checkboxClick(event) {
		let warn = "preventDefault() won't let you check this!<br>";
		document.getElementById("1").innerHTML += warn;
		event.preventDefault();
	}
</script>

<!-- <script>
	function disablekeys() {
		return false;
	}
</script> -->

<!-- Check Date -->
<script>
	function check() {
		const checkIn = document.getElementById('checkInId').value;
		const checkOut = document.getElementById('checkOutId').value;
		if (checkOut)
			if (checkIn > checkOut) {
				alert("Please Provide later Date than Check In");
				document.getElementById('checkOutId').value = '0000-00-00'
			}
	}
</script>

<!-- disabled Start -->
<!-- <script>
	$(window).load(function () {
		$(".loader").fadeOut("slow");
	});
</script> -->

<!-- <script>
	window.onload = function () {
		document.getElementById('loader').style.display = 'none';
	};
</script> -->
<!-- disabled End -->

<!-- submit botton validation -->
<script>

	// document.getElementById("decRooms").disabled = true;
	// document.getElementById("dec").disabled = true;
	// document.getElementById("Childdec").disabled = true;
	function submitForm() {
		let form = document.getElementById("bookingForm");
		// form.submit();


		if (!form.checkValidity()) {
			if (form.reportValidity) {
				form.reportValidity();
			} else {
				alert(msg.ieErrorForm);
			}
		} else {
			form.submit();
		}
	}
</script>

<!-- Check child Age -->
<script>
	function checkAge() {
		const child1 = document.getElementById('child1').value;
		const child2 = document.getElementById('child1').value;
		const child3 = document.getElementById('child1').value;
		const child4 = document.getElementById('child1').value;
		// const child2 = document.getElementById('child2').value;
		if (child1 > 12 || child1 < 0) {
			alert("Please Provide proper age");
			document.getElementById('child1').value = '0'
		}
		else if (child2 > 12 || child1 < 0) {
			alert("Please Provide proper age");
			document.getElementById('child2').value = '0'
		}
		else if (child3 > 12 || child1 < 0) {
			alert("Please Provide proper age");
			document.getElementById('child3').value = '0'
		}
		else if (child4 > 12 || child1 < 0) {
			alert("Please Provide proper age");
			document.getElementById('child4').value = '0'
		}
	}
</script>

<!-- DropDown Arrow rotate -->
<script>
	const dropdowns = document.querySelectorAll(".dropdown");

	dropdowns.forEach(el => {

		const button = el.querySelector(".dropdown-btn");

		button.addEventListener("click", () => {
			// Close all
			[...dropdowns].filter(x => x != el).forEach(el => el.classList.remove("is-open"));
			// Toggle one
			el.classList.toggle("is-open");
		});
	});
</script>

<!-- Read Mores -->
<script>
	function intro_read_more() {
		var dots = document.getElementById("dots");
		var moreText = document.getElementById("more");
		var btnText = document.getElementById("read-more-button");

		if (dots.style.display === "none") {
			dots.style.display = "inline";
			btnText.innerHTML = "Read more";
			moreText.style.display = "none";
		} else {
			dots.style.display = "none";
			btnText.innerHTML = "Read less";
			moreText.style.display = "inline";
		}
	}

	function explore_read_more() {
		var edots = document.getElementById("edots");
		var emoreText = document.getElementById("emore");
		var ebtnText = document.getElementById("exread-more-button");
		// 1
		if (edots.style.display === "none") {
			edots.style.display = "inline";
			ebtnText.innerHTML = "Read more";
			emoreText.style.display = "none";
		} else {
			edots.style.display = "none";
			ebtnText.innerHTML = "Read less";
			emoreText.style.display = "inline";
		}
	}
	function explore_read_more2() {
		var edots2 = document.getElementById("edots2");
		var emoreText2 = document.getElementById("emore2");
		var ebtnText2 = document.getElementById("exread-more-button2");
		// 2
		if (edots2.style.display === "none") {
			edots2.style.display = "inline";
			ebtnText2.innerHTML = "Read more";
			emoreText2.style.display = "none";
		} else {
			edots2.style.display = "none";
			ebtnText2.innerHTML = "Read less";
			emoreText2.style.display = "inline";
		}
	}
	function explore_read_more3() {
		var edots3 = document.getElementById("edots3");
		var emoreText3 = document.getElementById("emore3");
		var ebtnText3 = document.getElementById("exread-more-button3");
		// 3
		if (edots3.style.display === "none") {
			edots3.style.display = "inline";
			ebtnText3.innerHTML = "Read more";
			emoreText3.style.display = "none";
		} else {
			edots3.style.display = "none";
			ebtnText3.innerHTML = "Read less";
			emoreText3.style.display = "inline";
		}
	}
	function explore_read_more4() {
		var edots4 = document.getElementById("edots4");
		var emoreText4 = document.getElementById("emore4");
		var ebtnText4 = document.getElementById("exread-more-button4");
		// 4
		if (edots4.style.display === "none") {
			edots4.style.display = "inline";
			ebtnText4.innerHTML = "Read more";
			emoreText4.style.display = "none";
		} else {
			edots4.style.display = "none";
			ebtnText4.innerHTML = "Read less";
			emoreText4.style.display = "inline";
		}
	}
	function explore_read_more5() {
		var edots5 = document.getElementById("edots5");
		var emoreText5 = document.getElementById("emore5");
		var ebtnText5 = document.getElementById("exread-more-button5");
		// 5
		if (edots5.style.display === "none") {
			edots5.style.display = "inline";
			ebtnText5.innerHTML = "Read more";
			emoreText5.style.display = "none";
		} else {
			edots5.style.display = "none";
			ebtnText5.innerHTML = "Read less";
			emoreText5.style.display = "inline";
		}
	}
	function explore_read_more6() {
		var edots6 = document.getElementById("edots6");
		var emoreText6 = document.getElementById("emore6");
		var ebtnText6 = document.getElementById("exread-more-button6");
		// 6
		if (edots6.style.display === "none") {
			edots6.style.display = "inline";
			ebtnText6.innerHTML = "Read more";
			emoreText6.style.display = "none";
		} else {
			edots6.style.display = "none";
			ebtnText6.innerHTML = "Read less";
			emoreText6.style.display = "inline";
		}
	}
	function explore_read_more7() {
		var edots7 = document.getElementById("edots7");
		var emoreText7 = document.getElementById("emore7");
		var ebtnText7 = document.getElementById("exread-more-button7");
		// 7
		if (edots7.style.display === "none") {
			edots7.style.display = "inline";
			ebtnText7.innerHTML = "Read more";
			emoreText7.style.display = "none";
		} else {
			edots7.style.display = "none";
			ebtnText7.innerHTML = "Read less";
			emoreText7.style.display = "inline";
		}
	}
	function explore_read_more8() {
		var edots8 = document.getElementById("edots8");
		var emoreText8 = document.getElementById("emore8");
		var ebtnText8 = document.getElementById("exread-more-button8");
		// 8
		if (edots8.style.display === "none") {
			edots8.style.display = "inline";
			ebtnText8.innerHTML = "Read more";
			emoreText8.style.display = "none";
		} else {
			edots8.style.display = "none";
			ebtnText8.innerHTML = "Read less";
			emoreText8.style.display = "inline";
		}
	}
	function explore_read_more9() {
		var edots9 = document.getElementById("edots9");
		var emoreText9 = document.getElementById("emore9");
		var ebtnText9 = document.getElementById("exread-more-button9");
		// 9
		if (edots9.style.display === "none") {
			edots9.style.display = "inline";
			ebtnText9.innerHTML = "Read more";
			emoreText9.style.display = "none";
		} else {
			edots9.style.display = "none";
			ebtnText9.innerHTML = "Read less";
			emoreText9.style.display = "inline";
		}
	}
</script>

<!-- Explore -->
<script>
	$('#carouselExplore').on('slide.bs.carousel', function (e) {

		var $e = $(e.relatedTarget);
		var idx = $e.index();
		var itemsPerSlide = -3;
		var totalItems = $('.carousel-item').length;

		if (idx >= totalItems - (itemsPerSlide - 1)) {
			var it = itemsPerSlide - (totalItems - idx);
			for (var i = 0; i < it; i++) {
				// append slides to end
				if (e.direction == "left") {
					$('.carousel-item').eq(i).appendTo('.carousel-inner');
				}
				else {
					$('.carousel-item').eq(0).appendTo('.carousel-inner');
				}
			}
		}
	});
</script>

</html>